[submodule "pattern"]
	path = pattern
	url = https://github.com/OpenSteam001/steam-monitor
	branch = pattern
[submodule "ipc"]
	path = ipc
	url = https://github.com/OpenSteam001/steam-monitor
	branch = ipc
