# Build output
build/
.deps/

# Visual Studio
*.user
*.suo
*.vcxproj.user
*.sln.user
.vs/

# IDE
*.idea/
*.code-workspace/

# Temp files
*.tmp
*.log
*.bak
*~

# DLLs (keep only source files)
!.deps/**/*.dll
/CMakeFiles/
/detours.dir/
/_deps/
/Debug/
/dwmapi.dir/

CMakeCache.txt
*.vcxproj
*.sln
*.filters
*.cmake